
.screen__access-token ons-input {
    display: block;
}

.screen__access-token ons-button.button {
    display: block;
    text-align: center;
}

.text-input {
    font-size: 13px;
}

.btn-link {
    font-size: 13px;
    cursor: pointer;
    border-radius: 0;
    opacity: 0.9;
}

.btn-link:hover {
    opacity: 1;
}
